# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\TM\Lessons\3de jaar\Emerging Technologies\Module 4 - Understanding and Using APIs\Marvel_API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
